* {
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    transition: 500ms;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Vin';
    src: url(VinylCuts.ttf);
}

#icon img {
    display: block;
    margin: 0 auto;
}

#icon {
    width: 100px;
    height: 100px;
    display: block;
    position: absolute;
    z-index: 99;
}

.navi .i a {
    margin: 0;
}

.navi {
    padding: 24px;
    background-color: #8161F4;
    text-align: right;
}

.navi img {
    bottom: 1em;
    right: 1em;
    float: left;
    position: relative;
}

a {
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    color: #fff;
    margin: 15px;
}

.place {
    text-align: center;
    color: #8161F4;
    font-family: Vin;
    padding: 3em;
}

.place h1 {
    padding: 0;
    font-size: 10em;
    -webkit-transition: 4s;
    -moz-transition: 4s;
    transition: 4s;
}

.place h1 span {
    margin: 0;
    padding: 0;
    -webkit-transition: 5s;
    -moz-transition: 5s;
    transition: 5s;
}

.place h1 span:hover {
    cursor: pointer;
    top: 0.50em;
    position: relative;
}

.place p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    bottom: 4em;
    position: relative;
    font-size: 1.8em;
}

.place a {
    bottom: 6em;
    background-color: #8161F4;
    padding: 1em;
    border-radius: 5px;
    position: relative;
}

#footer {
    background-color: #8161F4;
}

#footer {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

#footer img {
    padding: 1em;
}

#footer .foot p {
    float: right;
    margin: 25px;
}


/*Canvas Related*/

.game_menu{
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 250px;
    height: 300px;
    border-radius: 1em;
    color: #fff;
    font-family: 'Lucida Sans', 
    'Lucida Sans Regular', 
    'Lucida Grande', 
    'Lucida Sans Unicode', 
    Geneva, 
    Verdana, 
    sans-serif;
}
.game_menu:hover{
    cursor: pointer;
}

.game_menu nav {
    display: block;
}

.game_menu nav, .play, .info, .help{
    width: 100%;
    height: 100px;
    color: #fff;
    background-color: #8161F4;
    text-align: center;
    line-height: 100px;
    letter-spacing: 3px;
}

.play{
    font-size: 46px;
    border-top-right-radius: 0.20em;
    border-top-left-radius: 0.20em;
}

.info{
font-size: 46px;
}

.stuff {
  margin: auto;
  padding: 5px;
  background-color: #8161F4;
  color: #fff;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: none;
  z-index: 9999;
  position: absolute;
}

.stuff h1{
  font-size: 1.5em;
  line-height: 0.70em;
}
.stuff2 {
  margin: auto;
  padding: 5px;
  background-color: #8161F4;
  color: #fff;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: none;
  z-index: 9999;
  position: absolute;
}

.stuff2 h1{
  font-size: 1.5em;
  line-height: 0.70em;
}
 span{
    font-size: 1.3em;
   font-weight: 1px;
}
.back{
    font-size: 2em;
    font-weight: bold;
    font-family: verdana;
}
.back:hover{
        cursor: pointer;
    text-decoration: underline;
}
.help{
    border-bottom-right-radius: 0.20em;
    border-bottom-left-radius: 0.20em;
    font-size: 46px;
}
.pause{
    text-align: left;
    padding-left: 2em;
    padding-right: 2em;
    margin: auto;
    bottom: 0;
    right: 0;
    z-index: 9999;
    position: absolute;
    display: none;
}
.pause:hover{
    cursor: pointer;
}
.pause h1{
    float: left;
    margin-right: 1em;
    font-family: 'Lucida Sans', 
    'Lucida Sans Regular', 
    'Lucida Grande', 
    'Lucida Sans Unicode', 
    Geneva, 
    Verdana, 
    sans-serif;
    color: #8161F4;
}
.pause img{
    margin-top: 1.2em;
}
/*Canvas Stuff*/

canvas {
    position: absolute;
    background-color: #bec5d1;
}

canvas:hover {
    cursor: pointer;
}

.ui-game {
    background-color: #8161F4;
    position: absolute;
    bottom: 0px;
    padding: 1em;
    margin-left: 1em;
    left: 0;
    right: 0;
    margin: auto;
}
/*Drawing game stuff*/
.ui-game nav .color {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: whitesmoke;
    /* Makes act like a tags*/
    padding: 0.50em;
    display: inline-block;
}

.ui-game nav .red {
    background: red;
}

.ui-game nav .green {
    background: green;
}

.ui-game nav .yellow {
    background: yellow;
}

.ui-game nav .purple {
    background: purple;
}

.ui-game nav .blue {
    background: blue;
}

.ui-game nav .orange {
    background: orange;
}

.ui-game nav .eraser {
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    background: -webkit-linear-gradient(bottom, hsl(0, 40%, 90%), hsl(0, 100%, 90%));
    background: -o-linear-gradient(bottom, hsl(0, 40%, 90%), hsl(0, 100%, 90%));
    background: -moz-linear-gradient(bottom, hsl(0, 40%, 90%), hsl(0, 100%, 90%));
    background: linear-gradient(to bottom, hsl(0, 40%, 90%), hsl(0, 100%, 90%));
}



.ui-game nav {
    /* Works because `color divs` are inline-block elements*/
    
    text-align: center;
}

/*Canvas stuff*/
@media only screen and (min-width: 2000px) {
    .place h1 {
        padding: 0;
        font-size: 16em;
    }

}
@media only screen and (max-width: 930px) {
    #footer {
        text-align: center;
    }
    
    #footer .foot p {
        float: none;
        padding: auto;
    }
    
    #footer img {
        padding-top: 8px;
    }
    
    #footer {
        height: auto;
    }
}
@media only screen and (max-width: 600px) {
    nav {
        display: block;
        position: relative;
    }
    
    nav a {
        display: block;
        text-align: center;
        position: relative;
    }
    
    .navi img {
        bottom: auto;
        right: auto;
    }
    
    .navi .i {
        width: 50px;
        height: 50px;
        margin: 0 auto;
        float: none;
        position: relative;
    }
    
    .place {
        margin-top: 100px;
        font-size: 1em;
        position: relative;
        /*border: 1px solid #000a3f;*/
        left: auto;
        padding: 0;
    }
    
    .place h1 {
        font-size: 6em;
        margin: auto;
        position: relative;
    }
    
    .place p {
        font-size: 1.125em;
        bottom: 10px;
    }
    
    .place a {
        bottom: 0;
    }
    
    #footer {
        text-align: center;
    }
    
    #footer p {
        padding: auto;
    }
    
    #footer img {
        margin-top: 28px;
    }
    
    #footer {
        height: auto;
    }
    
    canvas {
        background-color: lightseagreen;
    }
}